<p id="notice"><%= notice %></p>

<h1>Victims</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Topic</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @victims.each do |victim| %>
      <tr>
        <td><%= victim.id %></td>
        <td><%= victim.topic.id %></td>
        <td><%= victim.name %></td>
        <td><%= link_to 'Show', victim %></td>
        <td><%= link_to 'Edit', edit_victim_path(victim) %></td>
        <td><%= link_to 'Destroy', victim, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Victim', new_victim_path %>

<h2>Import Victims</h2>

<%= form_tag import_victims_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>